*{
    box-sizing: border-box;
    padding: 0;
}
html{
    background-color: #eeb462;
}
body{
    margin: 0;
}
/* --------------------------------
            HEADER
----------------------------------- */

img{
    width: 10%;
}
#header{
    background-color: #534666;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header .btn{
    margin-right: 2vw;
}
#user-sign-in-container{
    margin-right: 10rem;
    font-size: 30px;
    font-family: 'Ms Madi', cursive;
    font-weight: bold;
}
#signed-in-container{
    display: flex;
    align-items: center;
}
#sign-out-btn{
    margin-left: 5rem;
}

/* --------------------------------
            MAIN
----------------------------------- */

.mainBody {
    display: flex;
    justify-content: space-between;
    margin: 5vh 5vw;
}

.scoreboard {
    width: 25vw;
    background-color: #dc8665;
}

main{
    width: 55vw;
    background-color: #138086;
}
.card{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding: 2vh 2vw;
    border-radius: 20px;
}
.btn{
display: inline-block;
outline: none;
cursor: pointer;
font-weight: 600;
border-radius: 3px;
padding: 12px 24px;
border: 0;
color: #000;
background: #dc8665;
line-height: 1.15;
font-size: 16px;
}
.btn:hover {
    transition: all .1s ease;
    box-shadow: 0 0 0 0 #fff, 0 0 0 3px #dc8665;
}
/* --------------------------------
            SCOREBOARD
----------------------------------- */
.scoreboard .btn{
    background-color: #138086;
    width: fit-content;
    margin: 1vh 0;
}
.scoreboard .btnContainer {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

/* --------------------------------
            LEADERBOARD
----------------------------------- */
.leaderboard, .game{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.leaderboard h1, .leaderboard ol{
    width: fit-content;
}
.leaderboard h1, .game h1{
    margin-bottom: 0;
}

/* --------------------------------
            GAME
----------------------------------- */
.hidden{
    visibility: hidden; 
}

.game ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin-bottom: 5vh;
}
.game li{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding: 1vh 1vw;
    margin: 0 0.5vw;
    background-color: #dc8665;
}
.game form{
    display: flex;
    justify-content: space-between;
}

/* --------------------------------
            INSTRUCTIONS
----------------------------------- */

#portal .container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.300);
  }
  .container .modal {
    z-index: 1;
    width: 40%;
    height: 40%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    position: relative;
    animation: animate 0.5s;
  }
  .modal button {
    position: absolute;
    top: 7px;
    right: 7px;
    padding: 8px 11px;
    background: crimson;
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 2px;
    cursor: pointer;
  }
  @keyframes animate {
    from {
      transform: scale(0.3);
    }
    to {
      transform: scale(1);
    }
  }